body
   {
       background-color: khaki;


   }

h1
  {
      font-family: 'Merienda', cursive;

  }

h2
   {
     font-family: 'Kaushan Script', cursive;
   }

h3
{
   font-family: 'Kaushan Script', cursive;
}

h4
{
  font-family: 'Kaushan Script', cursive;
}


p
  {

  	  font-family: 'Kaushan Script', cursive;
  }   